ENV=prod
DEBUG=false

DB_USER=mongo
DB_PASS=mongo
DB_NAME=db_dev
DB_IP=mongo
DB_PORT=27017

MONGO_LOGS_USER=mongo
MONGO_LOGS_PASS=mongo
MONGO_LOGS_NAME=applicative_logs_database
MONGO_LOGS_IP=mongo
MONGO_LOGS_PORT=27017

